

@keyframes fadeOut {
    84% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}

ng-lottie{
    position: fixed;
    -webkit-animation: fadeOut 4s forwards;
    animation: fadeOut 4s forwards;
}